.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  justify-content: flex-start;
  flex-grow: 1;
}

.App-header, .body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-grow: 0;
}

.body {
  height: 100%;
  flex-grow: 1;
}

.body > form {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.App-link {
  display: block;
  color: #61dafb;
}

.App-link:visited {
  color: #61dafb;
}

.error {
  display: block;
  color: red;
}
